body {
  font-family: Charter, 'CharterITC', 'ITC Charter Std', Georgia, serif;
  margin: auto;
  max-width: 50em;
  font-size: 20px;
}

.header--main {
  padding: 2rem 0;
}

.header--main h1 {
  margin: 0;
}

.header--main h1 a {
  color: black;
  font-size: 2rem;
}

.post a {
  color: black;
}

.subtitle {
  color: black;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: normal;
  font-size: 1rem;
}

.blog-post-subheader time {
  display: inline;
}

.header--main a:hover,
.post a:hover {
  text-decoration: underline;
}

.date-time-title {
  font-family: 'Ubuntu Mono', monospace;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.posts_listing li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu Mono';
  font-weight: bold;
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  white-space: pre;
  overflow-x: auto;
}

pre {
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef
}

footer {
  padding: 3rem 0;
  text-align: center;
}
