body {
  font-family: Charter, 'CharterITC', 'ITC Charter Std', Georgia, serif;
  margin: auto;
  max-width: 50em;
  font-size: 20px;
  line-height: 1.42;
}

.is-draft {
  background-color: beige;
}
.is-draft body {
  background-color: beige;
}

.header--main {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  font-family: 'Ubuntu Mono', monospace;
}

.header--main__title {
  margin: 0;
}
.header--main__title a {
  color: black;
  font-size: 2rem;
}
.header--main__subtitle {
  font-size: 1rem;
  color: #999;
}

.navbar {
  padding: .5rem 0;
  font-size: 13px;
}

.post a {
  color: black;
}

.subtitle {
  color: black;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: normal;
  font-size: 1rem;
}

.main-subheader {
  margin-bottom: 1rem;
}

.main-subheader time {
  display: inline;
  font-family: 'Ubuntu Mono', monospace;
}

.header--main a:hover,
.post a:hover {
  text-decoration: underline;
}

.date-time-title {
  font-family: 'Ubuntu Mono', monospace;
}

.main {
  position: relative;
  margin-top: 1.5rem;
}

.main-aside {
  position: relative;
  border-left: 1px dashed #ccc;
  padding-top: 1rem;
}

.main-aside #TableOfContents {
  position: sticky;
  top: 1rem;
  font-size: .85rem;
}

#TableOfContents ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#TableOfContents ul ul {
  padding-left: 1em;
}

#TableOfContents a {
  color: #555;
  text-decoration: none;
}
#TableOfContents a:hover {
  background-color: yellow;
}

#TableOfContents .active > a {
  background-color: #333;
  color: #fff;
}

.main-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-content img {
  max-width: 100%;
/*  display: block;*/
}

.posts_listing {
  padding: 0;
}

.posts_listing li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu Mono';
  font-weight: bold;
  margin-top: 3rem;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: black;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

p {
  margin-bottom: 2rem;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  white-space: pre;
  overflow-x: auto;
}

blockquote {
  padding-left: 2rem;
  border-left: 1px solid #ccc;
  font-size: .9rem;
}

pre {
  overflow-x: auto;
  padding: 12px 14px;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef;
  border-radius: 3px;
}

mark {
  background-color: yellow;
}

footer {
  padding: 3rem 0;
  text-align: center;
}

.badge {
  font-family: 'Ubuntu Mono', monospace;
  letter-spacing: .1em;
  font-weight: normal;
}
