<!DOCTYPE html>
<html lang="{{ .Language.Lang  | default "fr" }}" {{- if .Draft }} class="is-draft"{{- end -}}>

  {{- partial "head" . -}}

  <body class="container-fluid">

    {{- partial "header" . }}

    {{- block "content" . -}}
    {{- end -}}

    {{- partial "footer" . -}}

    <!-- load bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <script src="{{ "/js/gumshoe.min.js" | relURL }}"></script>
    <script src="{{ "/js/smooth-scroll.min.js" | relURL }}"></script>
    <script src="{{ "/js/espacefine.min.js" | relURL }}"></script>
    <script src="{{ "/js/mark.js" | relURL }}"></script>
    

    <script>
      window.hypothesisConfig = function () {
        return { 
          branding: {
            theme: 'clean',
            appBackgroundColor: 'white',
            ctaBackgroundColor: 'black',
            ctaTextColor: 'white',
            selectionFontFamily: 'Charter, Geogria, serif',
            annotationFontFamily: 'Ubuntu Mono, monospace'
          },
          {{ range $elem_index, $elem_val := .Params.hypothesis_config }}
          {{ $elem_index }}: '{{ $elem_val }}',
          {{ end }}
        };
      };
    </script>
    
    {{ if in .Language.Lang "FR" }}
    <script>
      espaceFine();
    </script>
    {{ end }}

    {{ if .Params.hypothesis }}
    <script src="https://hypothes.is/embed.js" async></script>
    {{ end }}

    <script>
      // Gumshoe for navigation
      var tocElem = document.getElementById('TableOfContents');
      // Only init Gumshoe if there is a TOC
      if (tocElem) {
        var spy = new Gumshoe('#TableOfContents a', {
            nested: true,
            nestedClass: 'active-parent'
        });
      }

      // Smooth Scroll for animating anchors
      var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 600,
        speedAsDuration: true,
        easing: 'easeOutCubic'
      });

      // mark.js
      // convert == -> <mark>
      var article = document.querySelector('.main')
      article.innerHTML = mark(article.innerHTML);
      console.log(mark);
    </script>
  </body>
</html>
