{{ define "content" }}
<main class="main row">
  
  <aside class="main-aside col-md-3 order-md-2">
    {{ .TableOfContents }}
  </aside>

  <article class="main-content col-md-9 order-md-1">
    {{- if isset . "Title" -}}
    <h1>
      {{ .Title }}
    </h1>
    {{- end -}}

    <header class="main-subheader">
      <time class="date-time">{{ .Date.Format "2006/01/02" }}</time>

      {{ if .Draft -}}
      <span class="badge badge-dark">
        BROUILLON
      </span>
      {{- end -}}
    </header>

    {{ .Content }}

  </article>
</main>
{{ end }}
