<!--
<nav class="navbar navbar-expand-md navbar-light">

   empty brandname ensures toggler is on the right; hack really 
  <span class="navbar-brand mb-0 h1"></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation" name="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ul>
        <li>
          <a href="/">Accueil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->

<header class="header--main" id="page-title">
  <h1>
    <a href="{{ .Site.Params.baseURL | relURL }}">
      {{ .Site.Title | default "Notes de cours"}}
    </a>
  </h1>
  <span id="author-name" class="subtitle">
    {{ .Site.Params.Author }}
  </span>
</header>
