{{- if .Site.Menus.links -}}
<nav class="navbar navbar-expand navbar-light">
  <ul class="nav navbar-nav">
    {{ $currentPage := . }}
    {{ range $.Site.Menus.links.ByWeight }}
    <li class="nav-item{{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active{{ end }}{{ if .HasChildren }} dropdown{{ end }}">
      <a class="nav-link" href="{{ .URL }}">{{ .Title }}{{ if .HasChildren }} <span class="icon icon-angle-down"></span>{{ end }}</a>
      {{ if .HasChildren }}
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <ul class="dropdown-menu">
        {{ range .Children.ByWeight }}
        <li class="dropdown-item">
          <a class="nav-link" href="{{ .URL }}">{{ .Title }}</a>
        </li>{{ end }}
      </ul>{{ end }}
    </li>
    {{ end }}
  </ul>
</nav>
{{- end -}}

<header class="header--main" id="page-title">
  {{- if .Site.Title -}}
  <h1 class="header--main__title">
    <a href="{{ .Site.Params.baseURL | relURL }}">
      {{ .Site.Title | markdownify}}
    </a>
  </h1>
  {{- end -}}
  
  {{ with .Site.Params.Author -}}
  <span id="author-name" class="subtitle">
    {{- . }}
  </span>
  {{ end }}

  {{- if and .Site.Params.subtitle .Site.Params.Author }}
  {{ .Site.Params.subtitleDivider | default "/" }} 
  {{ end -}}

  {{- with .Site.Params.subtitle -}}
  <span class="header--main__subtitle">
    {{ . | markdownify }}
  </span>
  {{- end -}}

</header>
