{{ .Scratch.Set "description" "" }}
{{ if isset .Page.Params "description" }}
{{ .Scratch.Set "description" .Page.Params.description }}
{{ else if isset .Site.Params "description" }}
{{ .Scratch.Set "description" .Site.Params.description }}
{{ end }}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  
  <meta name="description" content="{{ .Scratch.Get "description" }}">

  <!-- load bootstrap css -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}">

  <title>
    {{- if eq .Page.Kind "section" -}}
    {{ .Title | title }} | 
    {{- else if isset .Params "title" -}}
    {{- .Title }} | 
    {{- else if and (eq .Section "notes") (isset .Params "seance") -}}
    Séance {{ .Param "seance" }} | 
    {{ else if isset .Params .Section -}}
    {{- .Parent.Section | title }} {{ .Param .Section }} | 
    {{ end -}}
    {{ with .Site.Title }}
    {{ . -}}
    {{- end -}}
    </title>

  <link rel="stylesheet" href="{{ "/css/stylesheet.css" | relURL }}">

  <link rel="stylesheet" href="https://assets.loupbrun.ca/fonts/ubuntu-mono/stylesheet.css" />
  
  <link rel="canonical" href="{{ .Permalink }}" />
  
  {{ template "_internal/opengraph.html" . }}
  
  <meta property="og:title" content="
    {{- if eq .Page.Kind "section" -}}
    {{ .Title | title }} | 
    {{- else if isset .Params "title" -}}
    {{- .Title }} | 
    {{- else if and (eq .Section "notes") (isset .Params "seance") -}}
    Séance {{ .Param "seance" }} | 
    {{ else if isset .Params .Section -}}
    {{- .Parent.Section | title }} {{ .Param .Section }} | 
    {{ end -}}
    {{ with .Site.Title }}
    {{ . -}}
    {{- end -}}"/>
</head>