<ul class="posts_listing">
  {{ range .ByDate }}
  <li>
    <div class="row" id="posts">
      <div class="d-none d-sm-block col-sm-3 col-md-2 date-time-title">
        <time>{{ .Date.Format "2006/01/02" }}</time>
      </div>
      <div class="col-sm date-time-title post">
        <a href="{{ .Permalink }}">
          {{ if isset .Params "title" }}
          {{ .Title }}
          {{ else if isset .Params "seance" }}
          Séance {{ .Params.seance }}
          {{ else }}
          (Sans titre)
          {{ end }}
        </a>
      </div>
    </div>
  </li>
  {{ end }}
</ul>